.idea/
*.pyc
*.swo
*.swp
venv-Web-classification-constructor/
Web_classification_constructor_backend/Web_classification_constructor_backend/local_settings.py
Web_classification_constructor_backend/db.sqlite3
migrations/
user_files/
Web_classification_constructor_backend/Classification-constructor-code/Input/test.csv
Web_classification_constructor_backend/Classification-constructor-code/Input/train.csv
test_ajax_code.txt
Web_classification_constructor_backend/tmp_user_files/