{% extends 'base.html' %}
{% block content %}
    <div id="authors_place">
        <div id="authors_name">
            <div id="name" class="name">NAME</div>
            <div id="name" class="Maxim-Makarov">Maxim Makarov</div>
            <div id="name" class="Alexey-Vasiliev">Alexey Vasiliev</div>
        </div>
        <div id="authors_email">
            <div id="email" class="email">EMAIL</div>
            <div id="email" class="Maxim-Makarov">MisterMaks97@mail.ru</div>
            <div id="email" class="Alexey-Vasiliev">nikson1708@yandex.ru</div>
        </div>
        <div id="authors_github">
            <div id="github" class="github">GITHUB</div>
            <div id="github" class="Maxim-Makarov">https://github.com/MisterMaks</div>
            <div id="github" class="Alexey-Vasiliev">https://github.com/alexeyvas1304</div>
        </div>
    </div>
{% endblock %}