{% extends 'base.html' %}
{% block content %}
    <div id="form">
        <form method="POST">
            <div id="stages_process_place">
                <div id="stages_process"></div>
            </div>
            <div id="buttons_in_row">
                <button type="submit" name="button send 5" id="begin_work">Begin work</button>
                <button disabled type="submit" name="get file" id="get_file">Скачать отчет</button>
                <button type="submit" name="button to main page">В начало</button>
            </div>
            <div id="error_message">{{error}}</div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <script>
        let process = '';
        let finish = false;
        let error_message = $('#error_message');
        let timerId = setInterval(() =>
            $.ajax({
                type: "GET",
                url: "show_process/",
                success: function (data) {
                    console.log(data);
                    for (key in data) {
                        if (data[key] === "Обрабатывается" || data[key] === "Завершено") {
                            process += "<div>" + key + ' ' + data[key] + "</div>";
                        }
                        if (key === "Finish" || error_message[0].textContent) {
                            localStorage.setItem('finish', '1');
                            finish = true;
                            $("#get_file")[0].disabled = false;
                            $("#begin_work")[0].disabled = true;
                            clearInterval(timerId);
                        }
                        if (localStorage['finish'] === '1') {
                            localStorage.clear();
                            finish = true;
                            $("#get_file")[0].disabled = false;
                            $("#begin_work")[0].disabled = true;
                            clearInterval(timerId);
                        }
                    }
                    $('#stages_process')[0].innerHTML = process;
                    process = '';
                }
            }), 1000);
        $('button[name="button to main page"]').click(() => {
            localStorage.clear()
        });
        $('#get_file').click(() => {
            localStorage.clear()
        });
    </script>
{% endblock %}
