{% extends 'base.html' %}
{% block content %}
    <div>
        <div>
            <form method="POST" enctype="multipart/form-data">
                {{ upload_model_and_file_form.as_p }}
                <button type="submit" name="button send upload model mode">Upload</button>
                <button {% if not begin_work %} disabled {% endif %} type="submit" name="button send 4 upload mode">Далее</button>
                <button type="submit" name="button to main page">В начало</button>
                <button type="submit" name="button exit">Выйти</button>
            </form>
        </div>
        <div>
            <div>{{ data }}</div>
        </div>
    </div>
{% endblock %}}