{% extends 'base.html' %}
{% block content %}
    <div id="form">
        <form method="POST">
            <div id="buttons_in_row">
                <button type="submit" name="button send 5 upload mode" id="begin_work">Begin work</button>
                <button {% if get_file_upload_mode != True %} disabled {% endif %} type="submit" name="get file upload mode" id="get_file">Скачать файл</button>
                <button type="submit" name="button to main page">В начало</button>
<!--                <button type="submit" name="button exit">Выйти</button>-->
            </div>
            <div id="error_message">{{error}}</div>
        </form>
    </div>
{% endblock %}
