<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
    <div class="header">
        <h1>Web Classificator, June 2020</h1>
        <img src="https://upload.wikimedia.org/wikipedia/ru/9/95/MEPhI_Logo2014_ru.png">
    </div>
    <div class="main">
        <h2>Инструкция по работе с конструктором</h2>
        <p>Данный проект представляет собой инструмент для бинарной классификации. Настоятельно советуем Вам прочитать
        инструкцию до того, как что-то делать.</p>
        <div>У классификатора есть два основных режима:</div>
        <ul>
            <li>Режим создания модели с нуля с предсказанием и полным отчетом</li>
            <li>Режим с использованием предобученный модели и последующим предсказанием</li>
        </ul>
        <h3>Режим создания модели с нуля</h3>
        <p>Для данного этапа Вы должны нажать
            <strong>Создать модель</strong>
            . В данном режиме Вам необходимо самостоятельно задавать параметры для препроцессинга данных, базовых алгоритмах.
        Все появляющиеся окна обязательны для заполнения(???). Более подробно о параметрах будет сказано ниже.
        </p>
        <p>После заполнения данных (первые 2 страницы) Вам надо загрузить файлы с обучающей и тестовой выборкой.
            К данным файлам выдвигаются важные требования, о которых будет сказано здесь.
        </p>
        <p>Далее Вы нажимаете кнопку
            <strong>Upload</strong>
            , файлы проверяются, если всё хорошо, то надо нажать кнопку
            <strong>Далее</strong>
            , после чего на следуюшей странице млжно нажать
            <strong>Begin work</strong>
            и начнутся непосредственные вычисления и генерация архива с нужными файлами.Этапы данного процесса выводятся на экран,
            после завершения всех этапов появляется возможность нажать на кнопку
            <strong>Скачать отчет</strong>
            , при нажатии на которую будет скачан файл results.zip
        </p>
        <p>Также на каждом из этапов можно вернуться к главной странице нажатием кнопки
            <strong>В начало</strong>
        .</p>
        <h3>Режим с предобученной моделью (coming soon)</h3>
        <h3>Описание параметров всех используемых алгоритмов обучения</h3>
        <p>Перед описанием стоит отметить, что заполнение параметров проходит в два этапа и от выбранных параметров из  первого этапа будет зависеть выбор параметров на втором.
        Поэтому описание будет строиться так: Описывается конкретный параметр первого этапа и в этом описании указываются соответствующие ему параметры второго с их объяснением.</p>
        <ul>
            <li>Метод заполнения пробелов
                <div>Для данного метода существуют 3 альтернативы:</div>
                <ul>
                    <li>1. HardRemoval: Удаление всех строк, в которых есть хотя бы один пропуск. При таком выборе на втором этапе ничего заполнять не нужно</li>
                    <li>2. InsertMeanMode: Заполнение всех пропусков средним или модой по конкретному признаку. Требует на втором этапе параметр threshold - пороговое количество
                    уникальных значений признака (натуральное число). При его превышении вычисляется среднее, иначе - мода.</li>
                    <li>3. LinearImputer: Заполнение пропусков путем их предсказывания с помощью линейной регрессии. Не требует особых параметров.</li>
                </ul>
            </li>
            <li>Метод удаления выбросов
                <div>Для данного метода существуют следующие варианты:</div>
                <ul>
                    <li>1. ThreeSigma. Не требует дополнительных параметров</li>
                    <li>2. Grubbs:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Alpha: - уровень значимости гипотезы (число от 0 до 1)</li>
                        </ul>
                    <li>3. Interquartile:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Low quant - нижний квартиль (число от 0 до 1 ). Лучше брать 0.25</li>
                            <li>Up quant - верхний квартиль (число от 0 до 1). Лучше брать 0.75</li>
                            <li>Coef - коэффициент для растета расстояния</li>
                        </ul>
                    <li>4. IsolationForest:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>N estimators - количество деревьев (рекомендуется 100)</li>
                            <li>Contamination - доля выбросов, которая будет отсеяна (числа от 0 до 1)</li>
                        </ul>
                    <li>5. Elliptic:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Contamination - доля выбросов, которая будет отсеяна (числа от 0 до 1)</li>
                        </ul>
                    <li>6. SVM:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Iters - количество итераций алгоритма</li>
                        </ul>
                    <li>7. Approximate:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Deviation - разница ранга матриц (целое число)</li>
                        </ul>
                    <li>8. LocalFactor:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Neigh - количество соседей (рекомендуется 20)</li>
                            <li>Contamination - доля выбросов, которая будет отсеяна (числа от 0 до 1)</li>
                        </ul>
                </ul>
            </li>
            <li>Этап отбора признаков
                <div>Для данного метода существуют следующие варианты:</div>
                <ul>
                    <li>1. VarianceThreshold:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Threshold - Пороговая дисперсия. Все признаки с дисперсией ниже пороговой удаляются</li>
                        </ul>
                    <li>2. SelectKBest:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>K - количество отбираемых признаков</li>
                        </ul>
                    <li>3. SelectPercentile:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Percentile - Процент (от 0 до 100) отбираемых признаков</li>
                        </ul>
                    <li>4. SelectFpr:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Alpha - уровень значимости (от 0 до 1)</li>
                        </ul>
                    <li>5. SelectFdr:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Alpha - уровень значимости</li>
                        </ul>
                    <li>6. SelectFwe</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Alpha - уровень значимости</li>
                        </ul>
                    <li>7. GenericUnivariateSelect:</li>
                     <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Mode - режим (объединяет предыдущие варианты)</li>
                            <li>Param - соттветствующее число </li>
                        </ul>
                    <li>8. SelectFromModel:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li> Threshold  - весовой порог</li>
                            <li>Norm_order - хз, ставьте 1</li>
                            <li>Max_features - максимальное число оставляемых признаков, преодолевших порог</li>
                        </ul>
                </ul>
            </li>
            <li>Метод композиции
                <div>Для данного метода существуют следующие варианты:</div>
                <ul>
                    <li>1. voting. Для данной композиции дополнительыне парамтеры не нужны</li>
                    <li>2. adaboost:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>N estimators -  количество базовых алгоритмов. Примерный порядок чисел —десятки-сотни. Рекомендуется брать 50</li>
                            <li>Learning rate - скорость обучения. Рекомендается брать 1</li>
                            <li>Algorithm -  'SAMME' (дискретный алгоритм) или 'SAMME.R' (вещественный алгоритм бустинга). Луше брать 'SAMME.R' (он быстрее)</li>
                        </ul>
                    <li>3. stacking:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Stack method - имеет 4 варианта: ‘auto’ (по умолчанию), ‘predict_proba’, ‘decision_function’, ‘predict’. Означает методы, которые будут вызываться у каждого частного алгоритма. ‘auto’ является универсальным вариантом, который объединяет ‘predict_proba’, ‘decision_function’, ‘predict’.</li>
                            <li>Cv - количество блоков для кросс-валидации финальной модели. Рекомендуется брать 5</li>
                        </ul>
                </ul>
            </li>
            <li>Базовые алгоритмы
                <div>К базовым алгоритмам относятся нейронные сети, деервья решений и логистическая регрессия. На первом этапе надо указать количество каждого базового алгоритма
                (либо просто тип в случае adaboost). Если данный базовый алгоритм не используется, нало указать 0 (в случае voting и stacking). Далее приводится описание алгоритов, их параметры и описание параметров</div>
                <ul>
                    <li>1. Нейронные сети:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Activation - функция активации для скрытого слоя</li>
                            <li>Solver - алгоритм для оптимизации весов</li>
                            <li>Learning rate - стратегия обновления скорости обучения</li>
                            <li>Learning rate init - начальная скорость обучения</li>
                        </ul>
                    <li>2. Деревья решений:</li>
                    <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Criterion - функция для измерения качества разбиения.</li>
                            <li>Max depth - максимальная глубина дерева</li>
                            <li>Min samples split - минимальное число объектов в листе, при котором его можно разбить еще на 2 листа </li>
                            <li>Min samples leaf - минимальное число объектов, которые в принципе могут быть в листе</li>
                        </ul>
                    <li>3. Логистическая регрессия:
                        <div>Требует определить следующие параметры</div>
                        <ul>
                            <li>Solver - алгоритм для решения проблем оптимизации </li>
                            <li>Penalty- норма, используемая для штрафа</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Test_ratio
                <div>Это доля валидационной выборки, на основе которой будет смотреться качество и формироваться итоговый отчет. Вещественное число в интервале от 0 до 1 (???) Рекомендуемое значение - 0.25</div>
            </li>
        </ul>
        <h3>Требования к загружаемым файлам</h3>
        <ul>
            <li>
                <p>В режиме модели с нуля:</p>
                <p>
                    <strong>Для файла обучающей выборки:</strong>
                    В файле первый столбец — это идентификатор с названием столбца id.
                    Далее идут столбцы-признаки в численном виде (названия столбцов могут быть любыми кроме id и target их уже использовали).
                    Работа с категориальными признаками в данной программе не предусмотрена.
                    Предварительная нормализация не обязательна - она выполняется внутри классификатора
                    Далее должен быть столбец target с целевой переменной, т.е. в каждой строке указывается метка класса 0 или 1.
                </p>
                <p><strong>Для файла тестовой выборки:</strong>
                    В файле первый столбец — это идентификатор с названием столбца id.
                    Далее идут столбцы-признаки в численном виде (названия столбцов могут быть любыми кроме id, так как его уже использовали)
                </p>
            </li>
            <li>
                <p>В режиме готовой модели:</p>
                <p><strong>Файл модели должен быть созданным в этом конструкторе !!!</strong></p>
                <p>Требования к файлу тестовой выборки такие же, как в первом режиме</p>
            </li>
        </ul>

        <h3>Содержимое отчета</h3>
        <p>В режиме модели с нуля окончательынм артефактом является архив results.zip, в который включаются:</p>
        <ul>
            <li>Графики</li>
            <li>Модели в формате pickle (сериализованный список, в котором первый элемент - сама модель, а второй - признаки, на которых эта модель строилась</li>
            <li>Отчет в формате .docx</li>
            <li>Csv-файл с проставленными метками и вероятностями отнесения к классу</li>
        </ul>
        <p>В режиме загружаемой модели окончательным артефактом является только Csv-файл</p>
    </div>
    <div class="footer">
    <h3>Vasiliev-Makarov</h3>
    </div>
</body>
</html>